.inputContainer {
  background-color:white;
  width: 20vw;
  border: 2px solid black;
}

.header{
  background-color: magenta;
}

.mainDiv{
  flex-direction: column;
  justify-content: center;
  padding-left: 20%;
}